body, html {
    height: 100%;
}

.bg-img { 
    /* The image used */
    background-image: url("/galeria/ponte-jk.jpg");

    /* Full height */
    height: 60%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-solid { 
    /* The image used */
    background: #a09c9c;

    /* Full height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}